[submodule "dot.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = dot.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "dot.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = dot.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
